html {
  background-color: #fafafa;
  color: #00658D;
  font: 14px normal 'proxima-nova', Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .75)
}

#container{
}

 a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


#header-wrapper{
    display:flex;
    padding-top:10px;
    flex-direction:row;
    justify-content: space-between;

}

#content-wrapper {
  height: 215px;
  margin: 50px 0 0 0;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 544px;  
  white-space: normal;
}

#content-wrapper.icons {
  width: auto;
  left:50%;
  margin: 75px auto 100px 16%;
  position: static;
  align-items:center;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

#content-wrapper.icons a {
  width: 184px;
  height: 172px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  opacity: 1;
  padding-top:25px;
  margin: 24px;
  justify-content: center;
  -webkit-transition: opacity .2s ease-out;
     -moz-transition: opacity .2s ease-out;
      -ms-transition: opacity .2s ease-out;
       -o-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
}

#content-wrapper.icons a:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.24);
}

#info-wrapper{
    display:flex;
    flex-direction:row;
}

#percentage-wrap {
  -webkit-transition: width .2s ease-out;
     -moz-transition: width .2s ease-out;
      -ms-transition: width .2s ease-out;
       -o-transition: width .2s ease-out;
          transition: width .2s ease-out;

  display: inline-block;
  margin: 5px 0 80px 20px;
  overflow: hidden;
  vertical-align: bottom;
  white-space: nowrap;
  width: 200px;
}

/* Stupid hack */
#percentage-wrap.done-transitioning {
  overflow: visible;
}

.icon {
  height: 230px;  
}

.button{
    height:30px
    padding:none;
    text-align: center;
    background-color:#fafafa;
    margin: 0 32px 0 0;
    cursor: pointer;
    user-select: none;
    font-family:'proxima-nova', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color:#3A8EE8;
    border:none;
}

.button:hover{
    background-color:#D9EDFB;
}

.button:active{
    background-color:#BADCF6;
}

.label{
    height: 20px;
    color: rgb(31, 69, 100);
    font-size: 16px;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;;
    font-weight: 600;
    text-decoration:none;
    line-height:40px;
    text-align:center;
}


.icon.loading {
  -webkit-animation: bounce .9s infinite;
   -moz-animation: bounce .9s infinite;
    -ms-animation: bounce .9s infinite;
     -o-animation: bounce .9s infinite;
        animation: bounce .9s infinite;
}


.hidden {
  width: 0 !important;
  margin: 0 !important;
  height: 0 !important;
}

h1 {
  font-size: 48px;
  font-weight:normal;
  margin: 0;
}

p {
  margin: 0;
}


.subsentence {
  color: #1F4564;
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  margin: 50px auto 11px;
  text-shadow: none;
  top: 100px;
  width: 80%;
}

.subinfo{
  color: #4D4D4D;
  font-size: 16px;
  font-weight: normal;
  font-family:'proxima-nova', Helvetica, Arial, sans-serif;
  margin: -11px auto 11px;
  text-shadow: none;
  top: 100px;
  width: 80%;
}
#total-visitors {
  font-size: 16px;
  font-weight: bold;
}



.citation {
  -webkit-transition: height .2s ease-out;
     -moz-transition: height .2s ease-out;
      -ms-transition: height .2s ease-out;
       -o-transition: height .2s ease-out;
          transition: height .2s ease-out;

  overflow: hidden;
  text-shadow: none;
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
}

.break {
  flex-basis: 100%;
  height: 0;
}


.cblogo {
   width: 136px;
   height:auto;
   margin-left:64px;
    }

.footer {
    width: 181px;
    height: 20px;
    color: rgb(77, 77, 77);
    font-size: 15px;
    font-family:'proxima-nova', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
}

.phone-home {
  position: fixed;
  bottom: 30px;
  left: 50%;
  right: 0;
}

@-webkit-keyframes bounce {
  0% { margin-top: 0px; opacity: 1; }
  50% { margin-top: -10px; opacity: .7; }
}

@-o-keyframes bounce {
  0% { margin-top: 0px; opacity: 1; }
  50% { margin-top: -10px; opacity: .7; }
}

@-moz-keyframes bounce {
  0% { margin-top: 0px; opacity: 1; }
  50% { margin-top: -10px; opacity: .7; }
}

@-ms-keyframes bounce {
  0% { margin-top: 0px; opacity: 1; }
  50% { margin-top: -10px; opacity: .7; }
}

@keyframes bounce {
  0% { margin-top: 0px; opacity: 1; }
  50% { margin-top: -10px; opacity: .7; }
}
